@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  text-align: center;
  --black: #0B0B0B;
  --white: #FFFFFF;
  --green: #053F33;
  --emerald: #07B782;
  --lime: #ACEF9B;
  --grey: #9F9797;
  --backColor: #f3f5f7;
  --advent: "Advent Pro", sans-serif;
  --space: "Space Grotesk", sans-serif;
  background-color: var(--backColor);
  /* padding-top: 20px; */
}

body {
  background-color: var(--backColor);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
button, a {
cursor: pointer;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}